.NavBarContainer{
    height: 70px;
    width: 100%;
    background-color: #332d289a;
    display:flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 13px -12px 14px -10px rgba(0,0,0,0.5);
}

.NavBarLeft{
    flex:3 ;
}

.logo{
    font-size: 40px;
    margin-left: 30px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-shadow: 13px 12px 14px 10px rgba(5,5,5,5.5);
}

.NavBarCenter{
    flex:5;
}

.searchbar{
    width: 100%;
    height: 30px;
    background-color: rgb(253, 253, 253);
    border-radius: 10px;
    display: flex;
    align-items:center;
}

.searchIcon{
    font-size: 20px !important; 
    margin-left: 10px;
}

.searchBox{
    margin-left: 15%;
    background-color: #ff730000;

}
.searchParty{
    border-width: 0px;
    border-color: #9143049a;
   font-size: medium;
    border-radius: 20%;
    font-weight: 200;
    cursor: pointer;
}
.searchInput{
    border: none;
    width: 70%;
    background-color: rgb(255, 255, 255);

}
.searchInput:focus{
    outline: none;

}
.NavBarRight{
    margin-left: 10px;
    flex: 4;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(0, 0, 0);  
    font-weight: bold; 
    cursor: pointer;
}

.NavBarLinks{
    display: flex;
}

.NavBarLink1{ /*upload*/
    display: flex;
    outline: none;
    margin-right: 200%;
    margin-top: 3%;
    font-size: 18px;
    cursor: pointer;
    color: rgba(228, 118, 34, 0.89);
    border-radius: 10px;
    background-color: rgba(68, 68, 68, 0.358);
    padding: 5%;

  
}
.logoutButton{ /*logout*/
    display: flex;
    margin-top: 10%;
    margin-bottom: 20%;
    font-size: 15px;
    cursor: pointer;
    color: rgba(242, 255, 0, 0.087);
    border-radius: 10px;
    background-color: rgba(68, 68, 68, 0.055);
    padding: 3%;
}


.NavBarIcons{
    display: flex;
    margin-right: 20%;
}

.NavBarIconItems{
margin-right: 20px;
cursor: pointer;
position: relative;
color: rgb(0, 0, 0);
}

.NavBarIconBadge{
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 50%;
    color:rgb(250, 250, 250);
    position: absolute;
    top: -7px;
    right: -7px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
}

.NavBarImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.list{
    padding: 0;
    list-style: none;
    text-align:center;
}

.listItem{
    margin-bottom: 10px;
    font-size: 18px;
    color: #444;
    font-weight: 300;
}

.urlInput{
    display: flex;
    margin-top: 5%;
    background-color: #435c373b;
    border-radius: 3%;
    border-width: 0px;
    height: 20px;
    font-weight: 300;


}

.shareBottom{
    margin-top: 20px;
    align-items: center;
    display: flex;
}