.post {
  widows: 100%;
  border-radius: 10px;
  box-shadow: 13px -12px 14px -10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 13px -12px 14px -10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 13px -12px 14px -10px rgba(0, 0, 0, 0.5);
  margin: 30px 0;
  background-image: linear-gradient(
    to right,
    rgb(47, 253, 47),
    rgb(71, 157, 214)
  );
}
.postWrapper {
  padding: 20px;
  display: flex;
}
.postRight {
  display: flex;
  flex: 3;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}
.postRightBottom {
  display: block;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 10px;
}
.albumImg {
  width: 400px;
  height: 400px;
  object-fit: contain;
}
.interactButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-top: 19%;
  margin-right: -30%;
  font-size: 20px;
}
.postLeft {
  display: flex;
  flex-direction: column;
  flex: 10;
  align-items: start;
}
.postLeftTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.postLeftTopLeft {
  display: flex;
  align-items: center;
}
.postLeftTopRight {
  display: flex;
}
.postProfileImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.postUsername {
  font-size: 15px;
  font-weight: 500;
  margin: 10px;
  cursor: pointer;
}
.postDate {
  font-size: 12px;
}
.postLeftCenter {
  display: flex;
  padding: 10px;
  background-color: white;
  border-radius: 30px;
  width: 97%;
  max-height: 60%;
  margin-top: 10px;
}
.postLeftBottom {
  display: flex;
  align-items: center;
}
.video {
  display: flex;
  align-self: center;
  margin-right: 50%;
  margin-top: 2%;
}
.playImg {
  width: 250px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.songLink {
  margin: 25px;
  margin-left: 20px;
}